@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* scrollbar customize - doesnt work in Firefox */
/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
  background: #1A1A1A;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 4px;
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

/* scrollbar workaround for Firefox */
:root {
  scrollbar-color: #4D4D4D #1A1A1A !important;
  scrollbar-width: thin !important;
}

@font-face {
  font-family: lazer;
  src: url(LAZER84.TTF);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #cfcfcf;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #ff0973;
}

main {
  font-family: 'Poppins';
  text-align: center;
  background: #141414;
  color: #cfcfcf;
}

main h1 {
  font-size: 130px;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-family: lazer;
  padding-right: 0em;
  background: -webkit-gradient(linear, left top, right top, from(#f70978), to(#ed13ca));
  background: linear-gradient(90deg, #f70978 0%, #ed13ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main h2 {
  font-size: 50px;
  margin-top: -15px;
}

main .gradientText {
  background: -webkit-gradient(linear, left top, right top, from(#f70978), to(#ed13ca));
  background: linear-gradient(90deg, #f70978 0%, #ed13ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.principal {
  display: block;
  width: 100%;
  /* era 52% */
  min-width: 1000px;
  margin: auto;
  background: #1b1b1b;
  /* END HEADER */
  /* GLOBAL SETTINGS OF ALL SECTIONS */
  /* PARTICULAR SETTINGS OF EACH SECTION */
}

.principal hr {
  border: 0;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(#3a3a3a), to(#141414));
  background-image: linear-gradient(to right, #141414, #3a3a3a, #141414);
}

.principal header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141414), to(transparent));
  background-image: linear-gradient(to bottom, #141414, transparent);
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 9998;
}

.principal header .nbar {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
}

.principal header .nbar .logo-container {
  margin-right: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.principal header .nbar .logo-container img {
  max-width: 50px;
  min-width: 50px;
  height: auto;
  padding-top: 0.4em;
}

.principal header .nbar .left {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal header .nbar .left .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.principal header .nbar .left .left-nav .nav-link {
  padding-right: 1em;
}

.principal header .nbar .right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.principal header .nbar .right .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal header .nbar .right .right-nav .nav-link {
  padding-right: 0.5em;
  padding-left: 0;
  /* 
          padding-top: 1em; */
}

.principal header .nbar .right .right-nav img {
  padding-top: 0.5em;
  max-width: 50px;
  min-width: 25px;
}

.principal .pageContent {
  position: absolute;
  top: 100vh;
  z-index: 997;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.principal .welcome {
  background: #141414;
}

.principal .aboutArt {
  background: #1d1d1d;
}

.principal .donation {
  background: #141414;
}

.principal .welcome, .principal .aboutArt, .principal .donation, .principal .roadmap, .principal .team, .principal .faq {
  position: relative;
  width: 100%;
  padding: 1em;
  padding-bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.principal .welcome img, .principal .aboutArt img, .principal .donation img, .principal .roadmap img, .principal .team img, .principal .faq img {
  width: 60%;
}

.principal .welcome .sectionContent, .principal .aboutArt .sectionContent, .principal .donation .sectionContent, .principal .roadmap .sectionContent, .principal .team .sectionContent, .principal .faq .sectionContent {
  text-align: left;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 5em;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  font-size: 20px;
  font-weight: lighter;
}

.principal .welcome .contentLeft, .principal .aboutArt .contentLeft, .principal .donation .contentLeft, .principal .roadmap .contentLeft, .principal .team .contentLeft, .principal .faq .contentLeft {
  width: 50%;
  padding-right: 1em;
}

.principal .welcome .contentLeft img, .principal .aboutArt .contentLeft img, .principal .donation .contentLeft img, .principal .roadmap .contentLeft img, .principal .team .contentLeft img, .principal .faq .contentLeft img {
  width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.principal .welcome .contentRight, .principal .aboutArt .contentRight, .principal .donation .contentRight, .principal .roadmap .contentRight, .principal .team .contentRight, .principal .faq .contentRight {
  width: 50%;
  padding-left: 1em;
}

.principal .welcome .contentRight img, .principal .aboutArt .contentRight img, .principal .donation .contentRight img, .principal .roadmap .contentRight img, .principal .team .contentRight img, .principal .faq .contentRight img {
  width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.principal .welcome .contentMid, .principal .aboutArt .contentMid, .principal .donation .contentMid, .principal .roadmap .contentMid, .principal .team .contentMid, .principal .faq .contentMid {
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;
}

.principal .mint {
  display: block;
}

.principal .mint .left-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10%;
}

.principal .mint .left-col img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.principal .mint .right-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10%;
  text-align: left;
  padding-left: 3em;
}

.principal .mint .right-col img {
  width: 100%;
}

.principal .mint .right-col .mintButton {
  margin: 1em;
  text-align: center;
}

.principal .roadmap {
  display: block;
  text-align: left;
}

.principal .roadmap .roadItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-right: 1em;
  margin-bottom: 1em;
  background: #141414;
  border-radius: 0%;
}

.principal .roadmap .roadItem .roadLeftCol {
  text-align: right;
}

.principal .roadmap .roadItem .roadLeftCol .roadDate {
  font-size: 1em;
}

.principal .roadmap .roadItem .roadLeftCol .roadDesc {
  font-size: 1.3em;
}

.principal .roadmap .roadItem .roadRightCol {
  width: 100%;
  padding-left: 4em;
  text-align: left;
}

.principal .team {
  padding: 0.5em;
}

.principal .team .sectionContent {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal .team .sectionContent .teamMember {
  background: #141414;
  border-radius: 0%;
  padding: 1em;
  margin: 0.5em;
}

.principal .team .sectionContent .teamMember .memberPic img {
  width: 50%;
  height: auto;
  border: 5px solid #141414;
  border-radius: 50%;
  margin-top: -60%;
}

.principal .team .sectionContent .teamMember .memberName {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  font-weight: bold;
}

.principal .team .sectionContent .teamMember .memberName img {
  width: 2em;
  height: auto;
}

.principal .team .sectionContent .teamMember .memberTW {
  text-align: right;
}

.principal .team .sectionContent .teamMember .memberTW img {
  max-width: 50px;
  height: auto;
}

.principal .team .sectionContent .teamMember .memberDesc {
  font-style: italic;
  padding-top: 2em;
}

.principal .faq .acc {
  background: #141414;
  padding-top: 1em;
  padding-bottom: 1em;
}

.principal .footer {
  padding: 2em;
  background: #141414;
}

/* 
77777777777777777777             66666666             888888888     
7::::::::::::::::::7            6::::::6            88:::::::::88   
7::::::::::::::::::7           6::::::6           88:::::::::::::88 
777777777777:::::::7          6::::::6           8::::::88888::::::8
           7::::::7          6::::::6            8:::::8     8:::::8
          7::::::7          6::::::6             8:::::8     8:::::8
         7::::::7          6::::::6               8:::::88888:::::8 
        7::::::7          6::::::::66666           8:::::::::::::8  
       7::::::7          6::::::::::::::66        8:::::88888:::::8 
      7::::::7           6::::::66666:::::6      8:::::8     8:::::8
     7::::::7            6:::::6     6:::::6     8:::::8     8:::::8
    7::::::7             6:::::6     6:::::6     8:::::8     8:::::8
   7::::::7              6::::::66666::::::6     8::::::88888::::::8
  7::::::7                66:::::::::::::66       88:::::::::::::88 
 7::::::7                   66:::::::::66           88:::::::::88   
77777777                      666666666               888888888     
                                                                     */
@media screen and (max-width: 768px) {
  .principal {
    width: 100%;
    min-width: 0px;
  }
  .principal hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .principal header {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .principal header .logo-container {
    margin-right: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .principal header .logo-container img {
    max-width: 50px;
    min-width: 50px;
    height: auto;
    padding-top: 0.4em;
  }
  .principal header .left {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .principal header .left .left-nav {
    display: none;
    list-style-type: none;
  }
  .principal header .left .left-nav .nav-link {
    padding-right: 1em;
  }
  .principal header .right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .principal header .right .right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .principal header .right .right-nav .nav-link {
    padding-right: 0em;
    padding-left: 0;
    /* 
            padding-top: 1em; */
  }
  .principal header .right .right-nav .connect {
    display: none;
  }
  .principal header .right .right-nav img {
    padding-top: 0.5em;
    width: 100%;
    min-width: 25px;
  }
  .principal .mint .sectionName, .principal .roadmap .sectionName, .principal .team .sectionName, .principal .faq .sectionName {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-align: left;
  }
  .principal .mint .sectionName img, .principal .roadmap .sectionName img, .principal .team .sectionName img, .principal .faq .sectionName img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .principal .heroSplash {
    margin-top: 0;
  }
  .principal .mint {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .principal .mint .sectionContent {
    display: block;
    text-align: center;
  }
  .principal .mint .logoMobile {
    display: unset;
  }
  .principal .mint .left-col {
    padding: 0;
  }
  .principal .mint .left-col img {
    width: 90%;
    height: auto;
    padding: 0em;
    margin: 0;
  }
  .principal .mint .right-col {
    padding-left: 0em;
    padding: 1em;
    text-align: center;
  }
  .principal .mint .right-col img {
    width: 100%;
    padding-bottom: 1em;
  }
  .principal .roadmap {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  .principal .roadmap .roadItem {
    padding-left: 1em;
    display: block;
  }
  .principal .roadmap .roadItem .roadLeftCol {
    text-align: left;
  }
  .principal .roadmap .roadItem .roadLeftCol .roadDate {
    font-size: 1em;
  }
  .principal .roadmap .roadItem .roadLeftCol .roadDesc {
    font-size: 1.3em;
    margin-bottom: 1em;
  }
  .principal .roadmap .roadItem .roadRightCol {
    width: 100%;
    padding-left: 0;
    text-align: left;
  }
  .principal .team {
    margin-top: 4em;
  }
  .principal .team .sectionContent {
    margin-top: 4em;
    display: block;
  }
  .principal .team .sectionContent .teamMember {
    margin-bottom: 6em;
    margin-top: 0em;
  }
  .principal .team .sectionContent .teamMember .memberPic img {
    width: 150px;
    height: auto;
    border: 5px solid #141414;
    border-radius: 50%;
    margin-top: -60%;
  }
}

/*                                                                                   
                                                                                    
1111111             000000000           222222222222222                444444444  
1::::::1           00:::::::::00        2:::::::::::::::22             4::::::::4  
1:::::::1         00:::::::::::::00      2::::::222222:::::2           4:::::::::4  
111:::::1        0:::::::000:::::::0     2222222     2:::::2          4::::44::::4  
  1::::1        0::::::0   0::::::0                 2:::::2         4::::4 4::::4  
  1::::1        0:::::0     0:::::0                 2:::::2        4::::4  4::::4  
  1::::1        0:::::0     0:::::0              2222::::2        4::::4   4::::4  
  1::::l        0:::::0 000 0:::::0         22222::::::22        4::::444444::::444
  1::::l        0:::::0 000 0:::::0       22::::::::222          4::::::::::::::::4
  1::::l        0:::::0     0:::::0      2:::::22222             4444444444:::::444
  1::::l        0:::::0     0:::::0     2:::::2                            4::::4  
  1::::l        0::::::0   0::::::0     2:::::2                            4::::4  
111::::::111     0:::::::000:::::::0     2:::::2       222222               4::::4  
1::::::::::1      00:::::::::::::00      2::::::2222222:::::2             44::::::44
1::::::::::1        00:::::::::00        2::::::::::::::::::2             4::::::::4
111111111111          000000000          22222222222222222222             4444444444
                                                                                   
 */
@media (min-width: 769px) and (max-width: 1024px) {
  .principal {
    width: 100%;
    min-width: 0;
  }
  .principal header .left .left-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .principal .mint .sectionContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .principal .mint .sectionContent .left-col {
    padding-left: 0;
  }
  .principal .mint .sectionContent .right-col {
    padding-right: 0;
  }
  .principal .team .sectionContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .principal .team .sectionContent .teamMember .memberPic img {
    min-width: 130px;
    height: auto;
    border: 5px solid #141414;
    border-radius: 50%;
    margin-top: -15em;
  }
}
/*# sourceMappingURL=index.css.map */